<!-- <div class="container">
    <div class="row">
        <div class="col-2">
            <button class="btn btn-secondary" style="height: 80px;" [routerLink]="[ '/Grid' ]">DevExtreme Grid Component</button>
        </div>
        <div class="col-2">
            <button class="btn btn-secondary" style="height: 80px;" [routerLink]="[ '/table' ]">Filter
                Component</button>
        </div>
    </div>
</div> -->
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

